body { 
    font-family: Segoe UI, Arial
}
nav>ul>li, h1 {
    display: inline-block;
    margin-inline: 3px;
}
a:visited {
    color: blue 
} 
a { 
    text-decoration: none 
}
.active-link {
    border-bottom: Solid 1px blue 
}
